@font-face {
    font-family: playfair;
    src: url(../../static/fonts/PlayfairDisplaySC-Bold.ttf);
}

@font-face {
    font-family: manrope;
    src: url(../../static/fonts/Manrope-Light.ttf)
}

@font-face {
    font-family: montserrat;
    src: url(../../static/fonts/Montserrat-Light.ttf)
}

@font-face {
    font-family: manropereg;
    src: url(../../static/fonts/Manrope-Regular.ttf)
}

@font-face {
    font-family: garamond;
    src: url(../../static/fonts/EBGaramond-SemiBold.ttf)
}


.garamond {
    font-family: garamond;
}

.playfair {
    font-family: playfair;
}

.manrope {
    font-family: manrope;
}

.manropereg {
    font-family: manropereg;
}

.montserrat {
    font-family: montserrat;
}


